@using Mediane.Infrastructure
@model Mediane.DomainModel.Article
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section viewtabs {
    <div class="nav">
        <ul class="tabs">
            @Html.ViewMenu(Model, "Index")
        </ul>

        <ul class="toolbox">
            <li><a onclick="$('#ContentEdit #cancel').click();">Cancel</a></li>
            <li><a onclick="$('#ContentEdit #ok').click();">Save</a></li>
        </ul>
    </div>
}

<div class="edit-header">
    <div class="edit-title">
        <h3>@Model.Title</h3>
    </div>
    <div class="edit-property">
        @using (Html.BeginForm("Type", "Home", new { id = Model.Title }, FormMethod.Post, new { id = "PageProperty" }))
        {
            @Html.DropDownList("Type", Model.AvailableTypes)
            <input type="submit" name="action" value="ok" id="typeOk" class="thin" />
        }
    </div>
</div>
@using (Html.BeginForm("Save", "Home", new { id = Model.Title }, FormMethod.Post, new { id = "ContentEdit" }))
{
    @Html.TextArea("Content", Model.Content, 20, 80, null)
    <br />
    <input type="submit" name="action" value="Save" id="ok" />
    <input type="submit" name="action" value="Cancel" id="cancel" />
}


