@using Mediane.Infrastructure
@model Mediane.Models.ContentModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section viewtabs {
    <div class="nav">
        <ul class="tabs">
            @Html.ViewMenu(Model, "Index")
        </ul>

        <ul class="toolbox">
            <li><a onclick="$('#ContentEdit #cancel').click();">Cancel</a></li>
            <li><a onclick="$('#ContentEdit #ok').click();">Save</a></li>
        </ul>
    </div>
}

<h2>@Model.Id</h2>
@using (Html.BeginForm("Save", "Home", FormMethod.Post, new {id="ContentEdit"}))
{
    @Html.TextArea("Content", Model.Content, 20, 80, null)
    <br />
    <input type="submit" name="action" value="Save" id="ok" />
    <input type="submit" name="action" value="Cancel" id="cancel" />
}


