@{
    ViewBag.Title = "Home Page";
}
@section viewtabs {

    <div class="nav">
        <ul class="tabs">
           <li><a href="#" class="here">Document</a></li>
            <li><a href="#">Comment</a></li>
            <li><a href="#">Property</a></li>
            <!--
              <li><a href="#">History</a></li>
              <li><a href="#">Permission</a></li>
              <li><a href="#">Workflow</a></li>
        -->
            <li><a href="#">Attach</a></li>
        </ul>

        <ul class="toolbox">
            <li><a href="#">Print</a></li>
            <li><a href="#">Edit</a></li>
        </ul>
    </div>

}

<h3>@ViewBag.Title</h3>

@ViewBag.Message
