@using Mediane.Infrastructure
@model Mediane.DomainModel.Article
@{
    ViewBag.Title = "Home Page";
}
@section viewtabs {

    <div class="nav">
        <ul class="tabs">
            @Html.ViewMenu(Model, "Index")
        </ul>

        <ul class="toolbox">
            <li><a href="#">Print</a></li>
            <li>@Html.RouteLink("Edit", "Home", new {Controller="Home", Action="Edit", Id = Model.Title })</li>
        </ul>
    </div>

}

<h3>@ViewBag.Title</h3>

@Html.Raw(Model.Rendered)
