@model Mediane.Models.ContentModel
@{
    ViewBag.Title = "Home Page";
}
@section viewtabs {

    <div class="nav">
        <ul class="tabs">
           <li><a href="#" class="here">Document</a></li>
            <li><a href="#">Comment</a></li>
            <li><a href="#">Property</a></li>
            <li><a href="#">Attach</a></li>
        </ul>

        <ul class="toolbox">
            <li><a href="#">Print</a></li>
            @* <li>@Html.ActionLink("Edit", "Edit", "Home", new {id=Model.Id})</li>*@
            <li>@Html.RouteLink("Edit", "Home", new {Controller="Home", Action="Edit", Id = Model.Id })</li>
        </ul>
    </div>

}

<h3>@ViewBag.Title</h3>

@Html.Raw(Model.Rendered)
